<!--Nome deste arquivo deve ser igual ao nome da action definida no controller-->

<h1> Conteúdo Central </h1>

<%= link_to 'Saiba mais sobre nos', about_path %>
<br/>

<%= link_to 'Listar usuários', users_path, :class => 'btn btn-large' %>

<%= link_to t('new_bill'), new_bill_path, class: "btn btn-large btn-inverse" %>

<%= content_for :sidebar do%>
    <%= render :partial => 'shared/sidebar' , locals: {:local_name => @name} %>
<% end %>

<%= content_for :menu do%>

<% end %>